/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

.rm-max .rm-mobile {
	font-family: 'Abel', sans-serif;

	a:hover {
    	background-color: grey;
    }

}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
    background-color: black;
    width: 180px;
    height: 15px;
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;

    a {
    	background-color: grey;
    }
}

@navbarItemBgColor: grey;


// Size each item in the header
.site-logo-text,
.profile {
    float: left;
    width: 20%;
}

.navbar2 {
	float: left;
	width: 70%;
}

.site-header {
    height: 80px;
}

// Site title
.site-logo-text {
    font-size: 2em;
    
    a {
        text-decoration: none;
    }
}
