/** --------------------------------------------------------------
 *  Responsive design
 */

@magicNumber: 24px;
@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;

img {
    max-width: 100%;
}

@media screen and (max-width: 970px) {
    .site-logo-text{
        .column(14);
    }
    .navbar2{
        .column(8);
    }
    .site-logo-text-icon {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .site-logo-text{
        .column(16);
    }

    .footer-column {
        .column(@columns);
    }

    .navbar2 {
        .column(6);
    }
}

@media screen and (max-width: 560px) {     
    .site-logo-text {
        .column(22);
    }
    .navbar2 {
        display: none;
    }
    .sidebar.sidebar-right {
        display: none;
    }
    .rm-default.rm-desktop {
        display: none;
    }
    .columns.footer-column-wrapper {
        display: none;
    }
 }

@media screen and (max-width: 460px) {
    .content {
        height: 100px;
    }
}
 
@media screen and (max-width: 400px) {
    .site-logo-text {
        .column(@columns);
    }

    .content {
        height: 170px;
    }
}

@media screen and (max-width: 200px) {
    .site-logo-text {
        .column(@columns);
    }
}
